html{
	font-size: 14px;
	padding-bottom: 50px;
}
.weui-tab_footer{
	left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
}
.hidden{
	display: none;
}
.page__bd{
	padding: 0 15px;
}
.weui-textarea{
	padding: 15px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}
.search{
    width: 100%;
}
.tableContainer{
	padding: 10px;
}
.weui-table{
	width: 100%;
	border:1px solid #f0f0f0;
	border-collapse: collapse;
}
.weui-table thead td{
	text-align: center;
}
.weui-table tbody td{
	text-align: center;
	border-top:1px solid #f0f0f0;
}
.weui-picker{
	font-size: 16px;
}
.navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.addSuggest{
	display: inline-block;
	float: right;
}

.navBarContainer{
	width: 90%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 10px 0;
}
.navBarContainer .navBar{
	float: left;
	text-align: center;
	width: 50%;
	border-bottom: 1px solid #eeeeee;
	box-sizing: border-box;
	padding: 10px 0;
}
.navBarContainer .active{
	border-bottom: 1px solid #1aad19;
	color: #1aad19;
}
.clear{
	clear: both;
}
.text-center{
	text-align: center;
}
.chart{
	margin: 0 auto;
	width: 350px;
	height: 600px;
}